body{
    font-family: Arial, sans-serif;
    background-color: rgb(244, 229, 172);
    padding: 50px;
}

h1{
    color: rgb(0, 123, 131);
}

form{
    background-color: rgb(255, 245, 203);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.304); /*first value is horizontal offset, second is vertical offset, third is blur radius*/
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 5px;
    margin-bottom: 15px;
    color: rgb(0, 123, 131);
    font-weight: 550;
}

label{
    font-size: 24px;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(0, 164, 153);
    font-size: 24px;
    border: none;
    padding: 10px 15px;  /*first value is top and bottom padding, second is left and right padding*/
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 137, 128);
}

#result{
    font-size: 28px;
    font-weight: bold;
}